<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <mappers>
        <!-- 告知映射文件方式1，一个一个的配置
        <mapper resource="com/xhh/mybatis/mapper/UserMapper.xml"/>-->
        <!-- 告知映射文件方式2，自动扫描包内的Mapper接口与配置文件
        <package name="com/xhh/mybatis/mapper"/> -->

        <mapper resource="mapper/ClassMapper.xml"/>
        <mapper resource="mapper/StudentMapper.xml"/>
    </mappers>

</configuration>