<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yyy.student.mapper.StudentMapper">
  <resultMap id="BaseResultMap" type="com.yyy.student.entity.Student">
    <result column="student_no" jdbcType="VARCHAR" property="studentNo" />
    <result column="class_no" jdbcType="VARCHAR" property="classNo" />
    <result column="grade_no" jdbcType="VARCHAR" property="gradeNo" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="sex" jdbcType="INTEGER" property="sex" />
    <result column="student_status" jdbcType="INTEGER" property="studentStatus" />
  </resultMap>
  <sql id="insertStudentKey">
    <trim suffixOverrides=",">
      <if test="student.studentNo!=null">student_no,</if>
      <if test="student.classNo!=null">class_no,</if>
      <if test="student.gradeNo!=null">grade_no,</if>
      <if test="student.name!=null">`name`,</if>
      <if test="student.sex!=null">sex,</if>
    </trim>
  </sql>
  <sql id="insertStudentValue">
    <trim suffixOverrides=",">
      <if test="student.studentNo!=null">#{student.studentNo},</if>
      <if test="student.classNo!=null">#{student.classNo},</if>
      <if test="student.gradeNo!=null">#{student.gradeNo},</if>
      <if test="student.name!=null">#{student.name},</if>
      <if test="student.sex!=null">#{student.sex},</if>
    </trim>
  </sql>
  <sql id="updateStudentSql">
    <trim suffixOverrides=",">
      <if test="student.studentNo!=null">student_no=#{student.studentNo},</if>
      <if test="student.classNo!=null">class_no=#{student.classNo},</if>
      <if test="student.gradeNo!=null">grade_no=#{student.gradeNo},</if>
      <if test="student.name!=null">`name`=#{student.name},</if>
      <if test="student.sex!=null">sex=#{student.sex},</if>
    </trim>
  </sql>
 <!-- 学生离校-->
  <delete id="deleteStudent" parameterType="java.lang.String" >
    update student
    set student_status = 1
    where student_no = #{studentNo,jdbcType=VARCHAR}
  </delete>
<!--  新增学生信息-->
  <insert id="insertStudent" parameterType="com.yyy.student.entity.Student">
    insert into student (<include refid="insertStudentKey"></include>)
    values (<include refid="insertStudentValue"></include>))
  </insert>
  <!--根据学生编号更新学生信息-->
  <update id="updateStudentByStudentNo" parameterType="com.yyy.student.entity.Student">
    update student
    <set>
      <include refid="updateStudentSql"></include>
    </set>
    <where>
      <if test="student.studentNo != null and student.studentNo != '' ">
        AND student_no = #{student.studentNo,jdbcType=VARCHAR}
      </if>
    </where>
  </update>
  <sql id="insertCourseKey">
    <trim suffixOverrides=",">
      <if test="student.course!=null">course,</if>
      <if test="student.success!=null">success,</if>
      <if test="student.studentNo!=null">student_no,</if>
    </trim>
  </sql>
  <sql id="insertCourseValue">
    <trim suffixOverrides=",">
      <if test="student.course!=null">#{student.course},</if>
      <if test="student.success!=null">#{student.success},</if>
      <if test="student.studentNo!=null">#{student.studentNo},</if>
    </trim>
  </sql>
  <!--根据学生编号查询学生信息-->
  <select id="selectByStudentNo" parameterType="java.lang.String" resultMap="BaseResultMap">
    select student.student_id, student.student_no, student.class_no, student.grade_no,
    student.`name`, student.sex,student.student_status
    from student
    where student_no = #{studentNo,jdbcType=VARCHAR} and student.student_status = 0
  </select>
  <!--根据条件查询学生列表-->
  <select id="queryList" parameterType="com.yyy.student.entity.Student" resultMap="BaseResultMap">
    select student.student_id, student.student_no, student.class_no, student.grade_no,
    student.`name`, student.sex,student.student_status
    from student
    <where>
      student.student_status = 0
      <if test="student.classNo != null and student.classNo != '' ">
        AND student.class_no = #{student.classNo,jdbcType=VARCHAR}
      </if>
      <if test="student.studentNo != null and student.studentNo != '' ">
        AND student.student_no = #{student.studentNo,jdbcType=VARCHAR}
      </if>
      <if test="student.sex != null and student.sex != '' ">
        AND student.sex = #{student.sex,jdbcType=VARCHAR}
      </if>
    </where>
  </select>
</mapper>